<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Exam </title>
	<link rel="stylesheet" href="styles/normalize.css">
	<link rel="stylesheet" href="styles/slick.css">
    <link rel="stylesheet" href="styles/slick-theme.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">  
    <link rel="stylesheet" href="styles/main.css">
</head>

<body>
		<header id="Home">
			<div class="myContainer">
				<menu class="clearFix">
					<div class="logo"> <img src="imgs/Logo.svg"></div>					
					<ul class="menuList">
							<li>
								<a href="#Home">Home</a>
							</li>
							<li>
								<a href="#About">About</a>
							</li>
							<li>
								<a href="#Services">Services</a>
							</li>
							<li>
								<a href="#Works">Works</a>
							</li>
							<li>
								<a href="#Contact">Contact</a>
							</li>
					</ul>					
				</menu>
				<div class="info">
					<div class="info_cover">
						<h1 class="info_title">Creative digital project</h1>
						<p class="info_text">Duis mollis est non commado luctus,<br> nisi erat porttitor, eget lacinig odio sem nec elit.</p>
					</div>
				</div>
			</div>			
		</header>
		<main>
			<section id="About">
				<div class="myContainer">
					<div class="blockAbout">
						<div class="imgBlockAbout">
							<div class="coverBlock">
								<img src="imgs/iconAbout.svg">
								<p>About us</p>
							</div>
						</div>
						<div class="textBlockAbout">
							<div class="coverTextBlock">
								<p>Nullam quis risus eget urna mollis ornare vel eu leo. Donec od elit non mi porta gravida at eget metus. Donec ullamcorper nulla non metus auctor fringilla. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
								<p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Maecenas faucibus mollis interdum. Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis.</p>
							</div>
							<button class="batn">Learn More</button>

						</div>
					</div>
				</div>
			</section>
			<section id="Services">
				<div class="myContainer">
				<div class="container">
					  <div class="row">
					    <div class="col-sm-8">
					    		<div class="row">
    								<div class="col-sm col--graybackground">
    									<div class="colCover">
										    	<img src="imgs/icon-graphic.png">
										    	<h2 class="col__item">Graphic design</h2>
										    	<p class="col__item">Cras mattis consectetur purus sit amet fermentum.</p>
							    		</div>
    								</div>
    								<div class="col-sm">
    									<div class="colCover">
										    	<img src="imgs/icon-web.png">
										    	<h2 class="col__item">Web development</h2>
										    	<p class="col__item">Cras mattis consectetur purus sit amet fermentum.</p>
							    		</div>
    								</div>    			
  								</div>
  								<div class="row">
    								<div class="col-sm">
    									<div class="colCover">
											    <img src="imgs/icon-seo.png">
											    <h2 class="col__item">Seo & marketing</h2>
											    <p class="col__item">Cras mattis consectetur purus sit amet fermentum.</p>
								 		</div>
    								</div>
    								<div class="col-sm col--graybackground">
    									<div class="colCover">
									    		<img src="imgs/icon-mobile.png">
									    		<h2 class="col__item">Mobile development</h2>
									    		<p class="col__item">Cras mattis consectetur purus sit amet fermentum.</p>
						    			</div>	
    								</div>    			
  								</div>
					    </div>
					    <div class="col-sm col--Services">
					    	<div class="colCover">
									<img src="imgs/icon-services.png">
									<h2 class="col__item">Our services</h2>
									<p class="col__item">"Nullam quis risus eget uma mollis ornare vel eu leo. Nulla vitae elit libero, a pharetra."<br>-Borat-</p>
							</div>
					    </div>
					  </div>
				</div>
				</div>
			</section>
			<section id="Works">
				<div class="myContainer">
					<div class="titleBlock">
						<img src="imgs/pen.png">					
						<h2>Recent works</h2>
					</div>							
					
					<div class="ba-slider-wrap">
            				<div class="ba-slider-arrow ba-slider-arrow__next">&#62;</div>
            				<div class="ba-slider-arrow ba-slider-arrow__prev">&#60;</div>

            				<div class="ba-slider">
								<div class="slider__item">
	        						<img src="imgs/slider1.png" alt="OurProject">
								</div>
								<div class="slider__item">
										<img src="imgs/slider1.png" alt="OurProject">
								</div>
								<div class="slider__item">
										<img src="imgs/slider1.png" alt="OurProject">
								</div>
								<div class="slider__item">
										<img src="imgs/slider1.png" alt="OurProject">
								</div>
							</div>		
	            	</div>

					<button class="batn batn--white">View Gallery</button>
				</div>
			</section>
			<section id="Team">
				<div class="myContainer">
					<div class="titleBlock titleBlock--black">
						<img src="imgs/team.png">					
						<h2>Meet out team</h2>
					</div>	

					
					<div class="ba-slider-wrap">
            			<div class="ba-slider-arrow ba-slider-arrow__next">&#62;</div>
            			<div class="ba-slider-arrow ba-slider-arrow__prev">&#60;</div>

						<div id="sliderV" class="ba-sliderV">
  							<div class="slideBlock" style="width: 350px" v-for="user in users "
        							:key="user.id">
	        					<img :src="user.img" alt="">
	       						<div class="slide-main">
	            						<div class="userName">{{user.name}}</div>
	            						<div class="userPosition">{{user.position}}</div>
	       						</div>
	       						<div class="slide_social">
	         						<a href="value"
	            					:class="key"
	            					v-for="(value,key) in users.social">
	         						</a>
	    						</div>
  							</div>
						</div>					
					
					</div>
				</div>
			</section>
			<section id="Contact">
				
					<div class="map-container">
						
						<div id="map" class="ba-map"></div>
						<div class="titleBlock">
								<img src="imgs/mapMarker.png">					
								<h2>Get in touch</h2>
						</div>	
						<form class="infoMap">
								<input type="text" name="nameField" placeholder="Your Name*" required="*">
								<input type="email" name="emailField" placeholder="Your Email*" required="*"><br>
								<textarea name="massege" placeholder="Your message*"></textarea><br>
								<button class="batn"> Send message </button>
						</form>
						
					</div>


					
				
			</section>
		</main>
		<footer></footer>

	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script  src="script/bundels/jquery-3.4.1.min.js"></script>
	<script  src="script/bundels/slick.min.js"></script>
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5wK46NvAB0ObPkw2hgYRLyCr2By7WT4c&callback=initMap"
  type="text/javascript"></script>
	<script  src="script/main.js"></script>
</body>
</html>